@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div id="errorPage">
    <section class="notFound">
            <div class="img">
                <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
                <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
            </div>
            <div class="text">
                <h1>OUPS</h1>
                <h2>PAGE NOT FOUND</h2>
                <h3>BACK TO HOME?</h3>
                   <a class="yes" asp-controller="Anonymous" asp-action="Index">YES</a>
                <a href="http://endless.horse/">NO</a>
            </div>
    </section>
</div>
